---
import { slugifyStr } from "@/utils/slugify";
import type { CollectionEntry } from "astro:content";
import { getEntryPath } from "@/utils/entryPaths";
import Datetime from "./Datetime.astro";

export interface Props extends CollectionEntry<"blog"> {
  variant?: "h2" | "h3";
  href?: string;
}

const { variant = "h2", data } = Astro.props;
const { title, description, pubDatetime, modDatetime, timezone } = data;
const href = Astro.props.href ?? getEntryPath(Astro.props);

const headerProps = {
  style: { viewTransitionName: slugifyStr(title) },
  class: "text-lg font-medium hover:underline",
};
---

<li class="my-6">
  <a
    href={href}
    class="inline-block text-lg font-medium text-blue-600 underline-offset-4 hover:text-blue-800 focus-visible:no-underline focus-visible:underline-offset-0"
  >
    {
      variant === "h2" ? (
        <h2 {...headerProps}>{title}</h2>
      ) : (
        <h3 {...headerProps}>{title}</h3>
      )
    }
  </a>
  <Datetime {pubDatetime} {modDatetime} {timezone} />
  <p>{description}</p>
</li>
